<nav class="navbar navbar-expand-lg navbar-light py-0">
  <div class="container-lg py-5 py-lg-9">
    <a class="navbar-brand me-lg-9" href="#">
      <img src="/assets/images/logo.png" alt="brand logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-6 mt-lg-0" id="navbarCollapse">
      <form class="search-field position-relative mb-6 mb-lg-0">
        <input class="form-control me-2" type="text" placeholder="搜尋文章" aria-label="Search">
        <button class="btn border-0 p-0 position-absolute" type="button">
          <i class="bi bi-search fs-4 text-accent-200"></i>
        </button>
      </form>
      <ul class="navbar-nav ms-auto gap-6 mb-10 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-3" href="#">所有文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="#">訂閱方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="#">關於我們</a>
        </li>
      </ul>
      <button type="button" class="btn btn-accent-200 w-100 w-lg-auto ms-lg-5">登入 / 註冊</button>
    </div>
  </div>
</nav>