// hero
.hero {
  img {
    height: calc(100vh - 80px);

    @media (min-width: 992px) {
      height: auto;
    }
  }

  &-content {
    bottom: 3rem;

    @media (min-width: 992px) {
      bottom: auto;
      top: 50%;
      left: 4rem;
      transform: translateY(-50%);
    }
  }
}

// theme
.theme {
  &-link {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 1.25rem 0 1.25rem 0;
      background-color: #00000033;
      z-index: 1;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &-title {
    z-index: 2;
  }

  &-img {
    border-radius: 1.25rem 0 1.25rem 0;
  }
}

// event
.event {
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
  }

  &::before {
    left: 0;

    @media (min-width: 768px) {
      width: 217px;
      height: 73px;
      background-image: url('/assets/images/bg-1.png');
    }
  }

  &::after {
    right: 0;
    width: 130px;
    height: 96px;
    background-image: url('/assets/images/bg-2-sm.png');

    @media (min-width: 768px) {
      width: 260px;
      height: 188px;
      background-image: url('/assets/images/bg-2.png');
    }
  }
}

// trend
.trend {
  &-item {
    &:first-child > img {
      border-radius: 1.25rem 0 0 1.25rem;
    }

    &:last-child > img {
      border-radius: 0 1.25rem 1.25rem 0;
    }
  }
}
