<!DOCTYPE html>
<html lang="zh-Hant">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main>
        <!-- hero -->
        <section class="hero my-lg-20">
          <div class="container-lg px-0 px-lg-3 position-relative">
            <picture>
              <source srcset="/assets/images/banner.png" media="(min-width: 992px)">
              <img src="/assets/images/banner-sm.jpg" alt="banner picture" class="w-100 object-fit-cover">
            </picture>
            <div class="hero-content text-center text-lg-start text-white position-absolute w-100 w-lg-auto">
              <p class="h6 fs-lg-5 mb-2 mb-lg-3">獻給新世代的生活風格誌</p>
              <p class="h3 fs-lg-1 mb-5 mb-lg-6">一起探索生活的無限可能</p>
              <button type="button" class="btn btn-accent-200 fw-bold px-lg-6 py-lg-4">
                馬上訂閱
                <i class="bi bi-arrow-right ms-3"></i>
              </button>
            </div>
          </div>
        </section>

        <!-- theme -->
        <section class="container py-12 py-lg-20">
          <h2 class="h4 fs-lg-2 mb-6">熱門主題</h2>
          <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 gy-md-4 gy-lg-6">
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-1.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-1-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  城市漫遊者
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-3.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-3-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  秘境尋蹤人
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-5.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-5-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  品味設計家
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-8.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-8-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  美食探險記
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-2.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-2-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  美學建築誌
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-4.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-4-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  慢活生活行
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-6.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-6-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  工藝匠心賞
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-7.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-7-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  時尚先鋒派
                </p>
              </a>
            </li>
          </ul>
        </section>

        <!-- article -->
        <section class="container py-12 py-lg-20">
          <h2 class="h4 mb-6 d-lg-none">熱門主題</h2>
          <div class="row flex-lg-row-reverse">
            <div class="col-lg-9 col-xxl-8">
              <div class="swiper-article swiper">
                <ul class="swiper-wrapper p-0">
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-xxl-4">
              <div class="d-lg-flex flex-lg-column h-100">
                <h2 class="d-none d-lg-block">熱門主題</h2>
                <div
                  class="d-flex flex-lg-column justify-content-between justify-content-lg-start align-items-center align-items-lg-start mt-lg-auto">
                  <div class="swiper-article-pagination mb-lg-8"></div>
                  <div class="swiper-button-group d-flex align-items-center">
                    <button type="button" class="swiper-article-button-prev btn btn-outline-neutral-400 lh-1 py-2">
                      <i class="bi bi-arrow-left"></i>
                    </button>
                    <div class="swiper-button-border d-inline-block"></div>
                    <button type="button" class="swiper-article-button-next btn btn-outline-neutral-400 lh-1 py-2">
                      <i class="bi bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- event -->
        <section class="bg-primary-200">
          <div class="event container py-12 py-lg-20 position-relative">
            <div class="w-max-content mx-auto text-center">
              <p class="h6 text-accent-200 mb-3">\ 母親節強檔活動 / </p>
              <h2 class="h4 fs-lg-2 mb-6">家庭訂閱方案限時 7 折</h2>
              <ul class="list-unstyled text-neutral-400 d-flex flex-column gap-4 mb-6 mb-md-10">
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    每月最新文章無限閱讀
                  </p>
                </li>
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    專屬會員限定內容
                  </p>
                </li>
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    定期電子報
                  </p>
                </li>
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    年度精選禮物
                  </p>
                </li>
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    24 / 7 優先客戶服務
                  </p>
                </li>
                <li>
                  <p class="text-start">
                    <i class="bi bi-check-lg me-3"></i>
                    為每個成員量身打造專屬行程
                  </p>
                </li>
              </ul>
              <button type="button" class="btn btn-accent-200 h6">我想了解</button>
            </div>
          </div>
        </section>

        <!-- trend -->
        <section class="trend container py-12 py-lg-20">
          <h2 class="h4 fs-lg-2 mb-6 mb-lg-10">大家都在看</h2>
          <div class="row">
            <div class="col-lg-4 col-xxl-3 d-none d-lg-block">
              <div class="card p-6 bg-white h-100 border-0">
                <ul class="list-group list-unstyled gap-6" id="list-tab" role="tablist">
                  <li>
                    <a class="list-group-item list-group-item-action active border-0 rounded-1 p-4 h5"
                      id="list-001-list" data-bs-toggle="list" href="#list-001" role="tab" aria-controls="list-001"><i
                        class="bi bi-dot me-3"></i>酒精路跑地圖</a>
                  </li>
                  <li>
                    <a class="list-group-item list-group-item-action border-0 rounded-1 p-4 h5" id="list-002-list"
                      data-bs-toggle="list" href="#list-002" role="tab" aria-controls="list-002"><i
                        class="bi bi-dot me-3"></i>台北拉麵圖鑑</a>
                  </li>
                  <li>
                    <a class="list-group-item list-group-item-action border-0 rounded-1 p-4 h5" id="list-003-list"
                      data-bs-toggle="list" href="#list-003" role="tab" aria-controls="list-003"><i
                        class="bi bi-dot me-3"></i>海島自由行</a>
                  </li>
                  <li>
                    <a class="list-group-item list-group-item-action border-0 rounded-1 p-4 h5" id="list-004-list"
                      data-bs-toggle="list" href="#list-004" role="tab" aria-controls="list-004"><i
                        class="bi bi-dot me-3"></i>短天數出國推薦</a>
                  </li>
                  <li>
                    <a class="list-group-item list-group-item-action border-0 rounded-1 p-4 h5" id="list-005-list"
                      data-bs-toggle="list" href="#list-005" role="tab" aria-controls="list-005"><i
                        class="bi bi-dot me-3"></i>週末露營趣</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-xxl-9">
              <div class="card d-none d-lg-block p-10 bg-white border-0">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-001" role="tabpanel" aria-labelledby="list-001-list">
                    <div class="p-6 mb-4">
                      <h3 class="h5 fs-lg-4 text-accent-200 mb-6">酒精路跑地圖</h3>
                      <ul class="list-unstyled">
                        <li class="h6 mb-5">｜城市酒吧人氣榜，盤點當紅熱門酒吧</li>
                        <li class="h6 mb-5">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                        <li class="h6">｜台南老宅手工酒藏，尋味百年人文釀意</li>
                      </ul>
                    </div>
                    <ul class="list-unstyled d-flex mx-4 mb-4">
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-1.png" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-2.png" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-3.png" alt="trend photo">
                      </li>
                      <li class="trend-item">
                        <img src="/assets/images/hots-4.png" alt="trend photo">
                      </li>
                    </ul>
                    <div class="p-6">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="badge-group fs-5">
                          <span class="badge bg-primary-300 me-2">#夜貓行程</span>
                          <span class="badge bg-primary-300 me-2">#barhopping</span>
                          <span class="badge bg-primary-300">#全台酒吧</span>
                        </div>
                        <a href="#" class="h5 link-accent-200">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-002" role="tabpanel" aria-labelledby="list-002-list">
                    <div class="p-6 mb-4">
                      <h3 class="h5 fs-lg-4 text-accent-200 mb-6">台北拉麵圖鑑</h3>
                      <ul class="list-unstyled">
                        <li class="h6 mb-5">｜城市酒吧人氣榜，盤點當紅熱門酒吧</li>
                        <li class="h6 mb-5">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                        <li class="h6">｜台南老宅手工酒藏，尋味百年人文釀意</li>
                      </ul>
                    </div>
                    <ul class="list-unstyled d-flex mx-4 mb-4">
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-5.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-6.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-7.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item">
                        <img src="/assets/images/hots-8.jpg" alt="trend photo">
                      </li>
                    </ul>
                    <div class="p-6">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="badge-group fs-5">
                          <span class="badge bg-primary-300 me-2">#雞白湯</span>
                          <span class="badge bg-primary-300 me-2">#拉麵</span>
                          <span class="badge bg-primary-300">#台北美食</span>
                        </div>
                        <a href="#" class="h5 link-accent-200">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-003" role="tabpanel" aria-labelledby="list-003-list">
                    <div class="p-6 mb-4">
                      <h3 class="h5 fs-lg-4 text-accent-200 mb-6">海島自由行</h3>
                      <ul class="list-unstyled">
                        <li class="h6 mb-5">｜私島慢活島嶼生活 - 在熱帶天堂品嘗新鮮海產</li>
                        <li class="h6 mb-5">｜海島漂流記 - 在陽光、沙灘和比基尼的盛夏暢遊</li>
                        <li class="h6">｜島嶼蹤跡 - 揭開加勒比海上世外桃源</li>
                      </ul>
                    </div>
                    <ul class="list-unstyled d-flex mx-4 mb-4">
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-9.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-10.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-11.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item">
                        <img src="/assets/images/hots-12.jpg" alt="trend photo">
                      </li>
                    </ul>
                    <div class="p-6">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="badge-group fs-5">
                          <span class="badge bg-primary-300 me-2">#熱帶國家</span>
                          <span class="badge bg-primary-300 me-2">#海邊</span>
                          <span class="badge bg-primary-300">#無敵海景</span>
                        </div>
                        <a href="#" class="h5 link-accent-200">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-004" role="tabpanel" aria-labelledby="list-004-list">
                    <div class="p-6 mb-4">
                      <h3 class="h5 fs-lg-4 text-accent-200 mb-6">短天數出國推薦</h3>
                      <ul class="list-unstyled">
                        <li class="h6 mb-5">｜72小時東京遊走 - 當個時尚東京通</li>
                        <li class="h6 mb-5">｜48小時曼谷遊玩全攻略</li>
                        <li class="h6">｜三天兩夜賞櫻微醺東京</li>
                      </ul>
                    </div>
                    <ul class="list-unstyled d-flex mx-4 mb-4">
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-13.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-14.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-15.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item">
                        <img src="/assets/images/hots-16.jpg" alt="trend photo">
                      </li>
                    </ul>
                    <div class="p-6">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="badge-group fs-5">
                          <span class="badge bg-primary-300 me-2">#說走就走</span>
                          <span class="badge bg-primary-300 me-2">#出國玩</span>
                          <span class="badge bg-primary-300">#東亞</span>
                        </div>
                        <a href="#" class="h5 link-accent-200">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="list-005" role="tabpanel" aria-labelledby="list-005-list">
                    <div class="p-6 mb-4">
                      <h3 class="h5 fs-lg-4 text-accent-200 mb-6">週末露營趣</h3>
                      <ul class="list-unstyled">
                        <li class="h6 mb-5">｜週末說走就走露營記</li>
                        <li class="h6 mb-5">｜城市野營日記</li>
                        <li class="h6">｜和寵物去露營 - 大自然之旅的雙倍快樂</li>
                      </ul>
                    </div>
                    <ul class="list-unstyled d-flex mx-4 mb-4">
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-17.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-18.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item me-1">
                        <img src="/assets/images/hots-19.jpg" alt="trend photo">
                      </li>
                      <li class="trend-item">
                        <img src="/assets/images/hots-20.jpg" alt="trend photo">
                      </li>
                    </ul>
                    <div class="p-6">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="badge-group fs-5">
                          <span class="badge bg-primary-300 me-2">#戶外</span>
                          <span class="badge bg-primary-300 me-2">#露營控</span>
                          <span class="badge bg-primary-300">#凹豆</span>
                        </div>
                        <a href="#" class="h5 link-accent-200">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-lg-none">
                <div class="swiper-trend swiper">
                  <ul class="swiper-wrapper p-0">
                    <li class="swiper-slide">
                      <div class="card bg-white p-4 rounded-3 border-0 shadow-sm">
                        <div class="mb-4">
                          <h3 class="h5 fs-lg-4 text-accent-200 mb-6">酒精路跑地圖</h3>
                          <ul class="list-unstyled">
                            <li class="h6 text-truncate mb-5">｜城市酒吧人氣榜，盤點當紅熱門酒吧</li>
                            <li class="h6 text-truncate mb-5">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                            <li class="h6 text-truncate">｜台南老宅手工酒藏，尋味百年人文釀意</li>
                          </ul>
                        </div>
                        <img src="/assets/images/trend-1.jpg" alt="trend photo" class="rounded-1 mb-4">
                        <div class="badge-group fs-5 text-center mb-4">
                          <span class="badge bg-primary-300 me-2">#夜貓行程</span>
                          <span class="badge bg-primary-300 me-2">#barhopping</span>
                          <span class="badge bg-primary-300">#全台酒吧</span>
                        </div>
                        <a href="#" class="h5 link-accent-200 text-center py-3">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </li>
                    <li class="swiper-slide">
                      <div class="card bg-white p-4 rounded-3 border-0 shadow-sm">
                        <div class="mb-4">
                          <h3 class="h5 fs-lg-4 text-accent-200 mb-6">台北拉麵圖鑑</h3>
                          <ul class="list-unstyled">
                            <li class="h6 text-truncate mb-5">｜城市酒吧人氣榜，盤點當紅熱門酒吧</li>
                            <li class="h6 text-truncate mb-5">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                            <li class="h6 text-truncate">｜台南老宅手工酒藏，尋味百年人文釀意</li>
                          </ul>
                        </div>
                        <img src="/assets/images/trend-2.jpg" alt="trend photo" class="rounded-1 mb-4">
                        <div class="badge-group fs-5 text-center mb-4">
                          <span class="badge bg-primary-300 me-2">#雞白湯</span>
                          <span class="badge bg-primary-300 me-2">#拉麵</span>
                          <span class="badge bg-primary-300">#台北美食</span>
                        </div>
                        <a href="#" class="h5 link-accent-200 text-center py-3">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </li>
                    <li class="swiper-slide">
                      <div class="card bg-white p-4 rounded-3 border-0 shadow-sm">
                        <div class="mb-4">
                          <h3 class="h5 fs-lg-4 text-accent-200 mb-6">海島自由行</h3>
                          <ul class="list-unstyled">
                            <li class="h6 text-truncate mb-5">｜私島慢活島嶼生活 - 在熱帶天堂品嘗新鮮海產</li>
                            <li class="h6 text-truncate mb-5">｜海島漂流記 - 在陽光、沙灘和比基尼的盛夏暢遊</li>
                            <li class="h6 text-truncate">｜島嶼蹤跡 - 揭開加勒比海上世外桃源</li>
                          </ul>
                        </div>
                        <img src="/assets/images/trend-3.jpg" alt="trend photo" class="rounded-1 mb-4">
                        <div class="badge-group fs-5 text-center mb-4">
                          <span class="badge bg-primary-300 me-2">#熱帶國家</span>
                          <span class="badge bg-primary-300 me-2">#海邊</span>
                          <span class="badge bg-primary-300">#無敵海景</span>
                        </div>
                        <a href="#" class="h5 link-accent-200 text-center py-3">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </li>
                    <li class="swiper-slide">
                      <div class="card bg-white p-4 rounded-3 border-0 shadow-sm">
                        <div class="mb-4">
                          <h3 class="h5 fs-lg-4 text-accent-200 mb-6">短天數出國推薦</h3>
                          <ul class="list-unstyled">
                            <li class="h6 text-truncate mb-5">｜72小時東京遊走 - 當個時尚東京通</li>
                            <li class="h6 text-truncate mb-5">｜48小時曼谷遊玩全攻略</li>
                            <li class="h6 text-truncate">｜三天兩夜賞櫻微醺東京</li>
                          </ul>
                        </div>
                        <img src="/assets/images/trend-4.jpg" alt="trend photo" class="rounded-1 mb-4">
                        <div class="badge-group fs-5 text-center mb-4">
                          <span class="badge bg-primary-300 me-2">#說走就走</span>
                          <span class="badge bg-primary-300 me-2">#出國玩</span>
                          <span class="badge bg-primary-300">#東亞</span>
                        </div>
                        <a href="#" class="h5 link-accent-200 text-center py-3">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </li>
                    <li class="swiper-slide">
                      <div class="card bg-white p-4 rounded-3 border-0 shadow-sm">
                        <div class="mb-4">
                          <h3 class="h5 fs-lg-4 text-accent-200 mb-6">週末露營趣</h3>
                          <ul class="list-unstyled">
                            <li class="h6 text-truncate mb-5">｜週末說走就走露營記</li>
                            <li class="h6 text-truncate mb-5">｜城市野營日記</li>
                            <li class="h6 text-truncate">｜和寵物去露營 - 大自然之旅的雙倍快樂</li>
                          </ul>
                        </div>
                        <img src="/assets/images/trend-5.jpg" alt="trend photo" class="rounded-1 mb-4">
                        <div class="badge-group fs-5 text-center mb-4">
                          <span class="badge bg-primary-300 me-2">#戶外</span>
                          <span class="badge bg-primary-300 me-2">#露營控</span>
                          <span class="badge bg-primary-300">#凹豆</span>
                        </div>
                        <a href="#" class="h5 link-accent-200 text-center py-3">
                          View More
                          <i class="ms-3 bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- taste -->
        <section class="trend container py-12 py-lg-20">
          <div class="d-flex justify-content-between align-items-center mb-6 mb-lg-10">
            <h2 class="h4 fs-lg-2">品味生活</h2>
            <div class="swiper-button-group d-none d-lg-flex align-items-center">
              <button type="button" class="swiper-taste-button-prev btn btn-outline-neutral-400 lh-1 py-2">
                <i class="bi bi-arrow-left"></i>
              </button>
              <div class="swiper-button-border d-inline-block"></div>
              <button type="button" class="swiper-taste-button-next btn btn-outline-neutral-400 lh-1 py-2">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="swiper-taste swiper">
            <ul class="swiper-wrapper p-0">
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">食.</h3>
                  <img src="/assets/images/life-1.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜米其林三星主廚的那些絕活傳奇</li>
                    <li class="h6 text-truncate mb-5">｜探秘成都的地道川味秘技與魅力</li>
                    <li class="h6 text-truncate">｜義大利釀酒師對於酒的堅持執著</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">藝.</h3>
                  <img src="/assets/images/life-2.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜解構教主級時裝設計大師的獨特美學</li>
                    <li class="h6 text-truncate mb-5">｜當代攝影師鏡頭中的光影離奇</li>
                    <li class="h6 text-truncate">｜帶你穿縮中世紀，夏季文藝復興展</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">旅.</h3>
                  <img src="/assets/images/life-3.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜遠離喧囂，偶探巴塔哥尼亞終界</li>
                    <li class="h6 text-truncate mb-5">｜東京深度六區，帶你細品極簡魅力</li>
                    <li class="h6 text-truncate">｜專賣奇珍異寶的東歐地下夜市</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">食.</h3>
                  <img src="/assets/images/life-1.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜米其林三星主廚的那些絕活傳奇</li>
                    <li class="h6 text-truncate mb-5">｜探秘成都的地道川味秘技與魅力</li>
                    <li class="h6 text-truncate">｜義大利釀酒師對於酒的堅持執著</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">藝.</h3>
                  <img src="/assets/images/life-2.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜解構教主級時裝設計大師的獨特美學</li>
                    <li class="h6 text-truncate mb-5">｜當代攝影師鏡頭中的光影離奇</li>
                    <li class="h6 text-truncate">｜帶你穿縮中世紀，夏季文藝復興展</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="card border-0">
                  <h3 class="h1 text-primary-400 mb-6 mb-lg-9">旅.</h3>
                  <img src="/assets/images/life-3.jpg" alt="trend photo" class="w-100 rounded-1 mb-6 mb-lg-9">
                  <ul class="list-unstyled mb-6 mb-lg-9">
                    <li class="h6 text-truncate mb-5">｜遠離喧囂，偶探巴塔哥尼亞終界</li>
                    <li class="h6 text-truncate mb-5">｜東京深度六區，帶你細品極簡魅力</li>
                    <li class="h6 text-truncate">｜專賣奇珍異寶的東歐地下夜市</li>
                  </ul>
                  <a href="#" class="h6 fs-lg-5 link-accent-200 text-center py-3">
                    View More
                    <i class="ms-3 bi bi-arrow-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script type="module">
          import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

          const swiperArticle = new Swiper('.swiper-article', {
            slidesPerView: 1,
            spaceBetween: 24,

            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
              },
              1400: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 48,
              }
            },

            pagination: {
              el: '.swiper-article-pagination',
              type: 'fraction',
            },

            navigation: {
              nextEl: '.swiper-article-button-next',
              prevEl: '.swiper-article-button-prev',
            }
          });

          const swiperTrend = new Swiper('.swiper-trend', {
            slidesPerView: 1,
            spaceBetween: 24,

            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
              }
            },

            autoplay: {
              enabled: true,
              delay: 3000,
            },

            loop: true
          });

          const swiperTaste = new Swiper('.swiper-taste', {
            slidesPerView: 1,
            spaceBetween: 24,

            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
              },
              992: {
                slidesPerView: 3,
                slidesPerGroup: 3,
              }
            },

            autoplay: {
              enabled: true,
              delay: 3000,
            },

            navigation: {
              nextEl: '.swiper-taste-button-next',
              prevEl: '.swiper-taste-button-prev',
            }
          });
        </script>
  </body>

</html>