<!DOCTYPE html>
<html lang="zh-Hant">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main>
        <!-- hero -->
        <section class="hero my-lg-20">
          <div class="container-lg px-0 px-lg-3 position-relative">
            <picture>
              <source srcset="/assets/images/banner.png" media="(min-width: 992px)">
              <img src="/assets/images/banner-sm.jpg" alt="banner picture" class="w-100 object-fit-cover">
            </picture>
            <div class="hero-content text-center text-lg-start text-white position-absolute w-100 w-lg-auto">
              <p class="h6 fs-lg-5 mb-2 mb-lg-3">獻給新世代的生活風格誌</p>
              <p class="h3 fs-lg-1 mb-5 mb-lg-6">一起探索生活的無限可能</p>
              <button type="button" class="btn btn-accent-200 fw-bold px-lg-6 py-lg-4">
                馬上訂閱
                <i class="bi bi-arrow-right ms-3"></i>
              </button>
            </div>
          </div>
        </section>

        <!-- theme -->
        <section class="container py-12 py-lg-20">
          <h2 class="h4 fs-lg-2 mb-6">熱門主題</h2>
          <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 gy-md-4 gy-lg-6">
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-1.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-1-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  城市漫遊者
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-3.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-3-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  秘境尋蹤人
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-5.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-5-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  品味設計家
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-8.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-8-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  美食探險記
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-2.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-2-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  美學建築誌
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-4.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-4-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  慢活生活行
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-6.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-6-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  工藝匠心賞
                </p>
              </a>
            </li>
            <li class="col">
              <a href="#" class="theme-link d-block position-relative">
                <picture>
                  <source srcset="/assets/images/theme-7.png" media="(min-width: 992px)">
                  <img src="/assets/images/theme-7-sm.png" alt="theme photo" class="theme-img w-100">
                </picture>
                <p
                  class="theme-title h6 fs-lg-5 position-absolute top-50 translate-middle-y w-100 text-center text-white">
                  時尚先鋒派
                </p>
              </a>
            </li>
          </ul>
        </section>

        <!-- article -->
        <section class="container py-12 py-lg-20">
          <h2 class="h4 mb-6 d-lg-none">熱門主題</h2>
          <div class="row flex-lg-row-reverse">
            <div class="col-lg-9 col-xxl-8">
              <div class="swiper-article swiper">
                <ul class="swiper-wrapper p-0">
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-1.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">私人島嶼的露營奇遇記</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          遠離塵囂，用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間，在這處隱世私家別墅裡，盡情領略池畔優閒時光，任林間微風撫面，聆聽花鳥嘶啞之音，重拾內心深處的寧靜安詳。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="card border-0 border-bottom border-neutral-500 rounded-0">
                      <img src="/assets/images/article-2.jpg" class="card-img-top rounded-2" alt="article photo">
                      <div class="card-body px-0 py-6">
                        <h3 class="card-title h5 mb-2">窺探米其林三星主廚的絕密手藝</h3>
                        <p class="card-text text-ellipsis text-neutral-400 mb-6">
                          在這間隱世餐廳，來一場味蕾與靈魂的盛宴。幽微燈火下，透過巨匠大師的獨門料理，領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙，沉浸其中，品嘗人生至臻至美的風味。
                        </p>
                        <a href="#"
                          class="link-accent-200 h5 fw-bold d-flex justify-content-between align-items-center">
                          Read More
                          <span class="badge bg-primary-300 text-primary-400">會員專屬</span>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-xxl-4">
              <div class="d-lg-flex flex-lg-column h-100">
                <h2 class="d-none d-lg-block">熱門主題</h2>
                <div
                  class="d-flex flex-lg-column justify-content-between justify-content-lg-start align-items-center align-items-lg-start mt-lg-auto">
                  <div class="swiper-article-pagination mb-lg-8"></div>
                  <div class="swiper-button-group d-flex align-items-center">
                    <button type="button" class="swiper-article-button-prev btn btn-outline-neutral-400 lh-1 py-2">
                      <i class="bi bi-arrow-left"></i>
                    </button>
                    <div class="swiper-button-border d-inline-block"></div>
                    <button type="button" class="swiper-article-button-next btn btn-outline-neutral-400 lh-1 py-2">
                      <i class="bi bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script type="module">
          import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

          const swiper = new Swiper('.swiper-article', {
            slidesPerView: 1,
            spaceBetween: 24,

            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
              },

              1400: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 48,
              }
            },

            pagination: {
              el: '.swiper-article-pagination',
              type: 'fraction',
            },

            navigation: {
              nextEl: '.swiper-article-button-next',
              prevEl: '.swiper-article-button-prev',
            }
          });
        </script>
  </body>

</html>