<!DOCTYPE html>
<html lang="zh-Hant">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main>
        <div class="container pt-4 pb-15 py-lg-20">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
              <li class="breadcrumb-item"><a href="./subscribe.html">訂閱方案</a></li>
              <li class="breadcrumb-item active" aria-current="page">付款</li>
            </ol>
          </nav>
          <h2 class="h3 fs-lg-1 mb-10 mb-lg-15">付款</h2>
          <form class="row needs-validation" novalidate>
            <div class="col-lg-7">
              <div class="card bg-white border-primary-300 rounded-3 p-6 p-lg-10 mb-6">
                <h3 class="h5 fs-lg-4 mb-6 mb-lg-10">購買人</h3>
                <div class="d-flex flex-column gap-4 gap-lg-10">
                  <div>
                    <label class="form-label h6" for="name">姓名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="請輸入姓名" required>
                    <div class="invalid-feedback">請輸入姓名</div>
                  </div>
                  <div>
                    <label class="form-label h6" for="password">密碼</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼"
                      required>
                    <div class="invalid-feedback">請輸入密碼</div>
                  </div>
                  <div>
                    <label class="form-label h6" for="email">電子信箱</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="請輸入電子信箱" required>
                    <div class="invalid-feedback">請輸入電子信箱</div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="infoStoredCheck" name="info-stored">
                    <label class="form-check-label" for="infoStoredCheck">
                      記住我的資訊
                    </label>
                  </div>
                </div>
              </div>
              <div class="card bg-white border-primary-300 rounded-3 p-6 p-lg-10 mb-6 mb-lg-0">
                <h3 class="h5 fs-lg-4 mb-6 mb-lg-10">付款方式</h3>
                <div class="d-flex flex-column gap-6 gap-lg-10">
                  <p class="h6">Pay With</p>
                  <div class="form-check ps-8">
                    <input type="radio" class="form-check-input" id="paymentCredit" name="payment" required>
                    <label class="form-check-label" for="paymentCredit">信用卡</label>
                  </div>
                  <div>
                    <label class="form-label h6" for="cardNumber">信用卡號碼</label>
                    <input type="text" class="form-control" id="cardNumber" name="card-number"
                      placeholder="1234 5678 1234 5678" required>
                    <div class="invalid-feedback">請輸入信用卡號碼</div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label class="form-label h6" for="expiryDate">過期日</label>
                      <input type="text" class="form-control" id="expiryDate" name="expiry-date" placeholder="MM/YY"
                        required>
                      <div class="invalid-feedback">請輸入信用卡過期日</div>
                    </div>
                    <div class="col-6">
                      <label class="form-label h6" for="securityCode">驗證碼</label>
                      <input type="text" class="form-control" id="securityCode" name="security-code" placeholder="CVV"
                        required>
                      <div class="invalid-feedback">請輸入信用卡驗證碼</div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="cardStoredCheck" name="card-stored">
                    <label class="form-check-label" for="cardStoredCheck">
                      記住卡片資訊
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card bg-white border-accent-200 rounded-3 p-6 p-lg-10">
                <h3 class="h5 fs-lg-4 text-accent-200 mb-6 mb-lg-10">訂單資訊</h3>
                <div class="d-flex flex-column gap-6 gap-lg-10">
                  <div class="border-top border-bottom py-6">
                    <div class="d-flex justify-content-between h6 fs-lg-5 mb-3">
                      <p>輕量型方案</p>
                      <p>NT 1,188</p>
                    </div>
                    <p class="text-neutral-400">年繳</p>
                  </div>
                  <div>
                    <label class="form-label h6" for="discount">折扣碼</label>
                    <div class="row g-3">
                      <div class="col">
                        <input type="text" class="form-control" id="discount" name="discount" placeholder="請輸入折扣碼">
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-neutral-100">套用</button>
                      </div>
                    </div>
                  </div>
                  <div class="border-top border-bottom py-6">
                    <div class="d-flex justify-content-between h6 fs-lg-5 mb-3">
                      <p>小計</p>
                      <p>NT 1,188</p>
                    </div>
                    <div class="d-flex justify-content-between h6 fs-lg-5">
                      <p>折扣</p>
                      <p>0</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between h6 fs-lg-5 mb-3">
                    <p>總計</p>
                    <p class="h4 fs-lg-3">NT 1,188</p>
                  </div>
                  <button type="submit" class="btn btn-accent-200 h6 fs-lg-5">
                    立即付款
                    <i class="bi bi-arrow-right ms-3"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script>
          (function () {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }

                  form.classList.add('was-validated')
                }, false)
              })
          })()
        </script>
  </body>

</html>