<!DOCTYPE html>
<html lang="zh-Hant">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main>
        <section class="container-md px-0 px-md-3 py-15 py-lg-20">
          <div class="card bg-white border-primary-300 w-md-75 w-lg-50 p-6 p-lg-10 mx-auto">
            <h2 class="h4 text-accent-200 mb-6 mb-lg-10">註冊</h2>
            <form class="row g-3 needs-validation" novalidate>
              <div>
                <label class="form-label h6" for="account">會員帳號</label>
                <input type="text" class="form-control" id="account" name="account" placeholder="請輸入會員帳號" required>
                <div class="invalid-feedback">請輸入會員帳號</div>
              </div>
              <div>
                <label class="form-label h6" for="password">密碼</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼" required>
                <div class="invalid-feedback">請輸入密碼</div>
              </div>
              <div>
                <label class="form-label h6" for="email">電子信箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="請輸入電子信箱" required>
                <div class="invalid-feedback">請輸入電子信箱</div>
              </div>
              <button type="submit" class="btn btn-accent-200 h6 my-6 my-lg-10">
                立即註冊
                <i class="bi bi-arrow-right ms-3"></i>
              </button>
            </form>

            <p class="text-neutral-300 text-center my-6 my-lg-10">或以其他方式註冊</p>

            <a href="#" class="btn btn-neutral-100 h6 mb-2">
              <img src="/assets/images/icons-google.png" alt="icon google">
              使用 Google 註冊
            </a>
            <a href="#" class="btn btn-neutral-100 h6 mb-6 mb-lg-10">
              <img src="/assets/images/icons-facebook.png" alt="icon google">
              使用 Facebook 註冊
            </a>
            <p class="text-center">已經是會員了？ <a href="./login.html" class="link-accent-200">點此登入</a></p>
          </div>
        </section>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script>
          (function () {
            'use strict'

            const forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                  }

                  form.classList.add('was-validated')
                }, false)
              })
          })()
        </script>
  </body>

</html>