// font-size
$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

// sizing
$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
        )
      ),
  )
);
